                <a href="/home/montagna1">
                    <div class="column">
                <img src="https://www.sonnalp-achensee.at/fileadmin/fileadmin/_processed_/2/3/csm_AchenseeTourismus_749872_fefe16f2f4.jpg" alt="one" style="width:100%">
            </div>
        </a>
<div class='container'>
    <h1> Montagna n.1 </h1>
    <p>In geomorfologia e orografia una montagna è un rilievo della superficie terrestre che si estende/eleva sopra il terreno circostante con una certa altezza, prominenza ed isolamento topografico (analogamente si parla di montagna anche riferendosi ai rilievi che si incontrano sugli altri pianeti o sui loro satelliti). Esistono varie convenzioni per ciò che riguarda l'altezza di una montagna discriminando così il concetto da quello di collina: d'ordinario come tale si definisce un rilievo che supera i 400 - 500[1] o, secondo altre convenzioni, i 600 -700[2] metri sul livello del mare (s.l.m.), ma solo quando il suo aspetto è, almeno parzialmente, impervio. Il processo di formazione di una montagna è detto orogenesi.
    </p>
</div>