/* * This is a manifest file that'll be compiled into application.css, which will include all the files * listed below. * * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's * vendor/assets/stylesheets directory can be referenced here using a relative path. * * You're free to add application-wide styles to this file and they'll appear at the bottom of the * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS * files in this directory. Styles in this file should be added after the last require_* statement. * It is generally better to create a new file per style scope. * *= require_tree . *= require_self */

.ag-snow {
  height: 1080px;
 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.ag-snow:before {
  content: "";
  height: 100%;
  width: 100%;

  background-image: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-snow-img/images/snow.png), url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-snow-img/images/snow2.png), url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-snow-img/images/snow3.png);
  background-repeat: repeat;

  position: absolute;
  left: 0;
  top: 0;

  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;

  will-change: background-position;

  -webkit-animation: an-snow 20s linear infinite;
  -moz-animation: an-snow 20s linear infinite;
  -o-animation: an-snow 20s linear infinite;
  animation: an-snow 20s linear infinite;
}

@-webkit-keyframes an-snow {
  100% {
    background-position: 500px 1000px, 300px 300px, -400px 400px;
  }
}
@-moz-keyframes an-snow {
  100% {
    background-position: 500px 1000px, 300px 300px, -400px 400px;
  }
}
@-o-keyframes an-snow {
  100% {
    background-position: 500px 1000px, 300px 300px, -400px 400px;
  }
}
@keyframes an-snow {
  100% {
    background-position: 500px 1000px, 300px 300px, -400px 400px;
  }
}

.container {
  width: 50%;
  max-width: 800px;
  margin: 3% auto;
  padding: 2rem 3rem;
  background: rgb(226, 233, 238);
  border-radius: 14px;
  box-shadow: 0 0 40px rgb(0, 86, 247);
}

.navbar {
  border-radius: 14px;
}

.contact-form-wrap .form-group {
  margin-bottom: 20px;
}

.contact-form-wrap .form-group .form-control {
  height: 60px;
  border: 1px solid #EEF2F6;
  box-shadow: none;
  width: 100%;
  background: #f4f9fc;
}

.contact-form-wrap .form-group-2 {
  margin-bottom: 13px;
}

.contact-form-wrap .form-group-2 textarea {
  height: auto;
  border: 1px solid #EEF2F6;
  box-shadow: none;
  background: #f4f9fc;
  width: 100%;
}

.navbar-toggle .icon-bar {
  background: #223a66;
}

#navbarmain {
  padding: 2px 0px;
}

#navbarmain .nav-link {
  font-weight: 600;
  padding: 10px 15px;
  color: #222;
  font-family: "Exo", sans-serif;
  text-transform: capitalize;
  font-size: 16px;
  transition: all .25s ease;
}

.dropdown-toggle::after {
  display: none;
}

.navbar-brand {
  margin-top: 10px;
}

.dropdown .dropdown-menu {
  position: absolute;
  display: block;
  background: #fff;
  min-width: 240px;
  top: 130%;
  left: 0;
  right: 0px;
  opacity: 0;
  padding: 0px;
  visibility: hidden;
  transition: all 0.3s ease-out 0s;
  border: 0px;
  border-top: 5px solid #81adff;
  border-radius: 8px;
}

.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  top: 115%;
}

.dropdown .dropdown-item {
  padding: 13px 20px;
  border-bottom: 1px solid #eee;
  background: transparent;
  font-weight: 400;
  color: #555;
}

.dropdown .dropdown-item:hover {
  color: #e12454;
}

.header-top-bar {
  background: #223a66;
  font-size: 14px;
  padding: 10px 0px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  color: #fff;
}


body {
  background: #777;
}
h3 {
  font-family: lato;
  font-weight: 600;
  margin: 20px auto 10px auto;
  color: white;
}
.carousel-item {
  padding: 1px;
  cursor: -webkit-grabbing;
}
.carousel-item img {
  border-radius: 30px;
  height: 500px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, .21);
  transition: 0.25s linear;
}
.carousel-item:hover img {
  transform: translatey(-1%);
}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;

  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 10px;
  margin: 2px;
  position: relative;
  top: 30px;
}
@media only screen and (max-width: 650px) {
  .carousel-item img {
    height: auto;
 }
}


@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

html,
body {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  height: 100%;
  width: 100%; 
  background: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
 
.wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

.container-fostrap {
  display: table-cell;
  padding: 1em;
  text-align: center;
  vertical-align: middle;
}
.fostrap-logo {
  width: 100px;
  margin-bottom:15px
}
h1.heading {
  color: #fff;
  font-size: 1.15em;
  font-weight: 900;
  margin: 0 0 0.5em;
  color: #505050;
}
@media (min-width: 450px) {
  h1.heading {
    font-size: 3.55em;
  }
}
@media (min-width: 760px) {
  h1.heading {
    font-size: 3.05em;
  }
}
@media (min-width: 900px) {
  h1.heading {
    font-size: 3.25em;
    margin: 0 0 0.3em;
  }
} 
.card {
  display: block; 
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
    transition: box-shadow .25s; 
}
.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.img-card {
  width: 100%;
  height:200px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  display:block;
    overflow: hidden;
}
.img-card img{
  width: 100%;
  height: 200px;
  object-fit:cover; 
  transition: all .25s ease;
} 
.card-content {
  padding:15px;
  text-align:left;
}
.card-title {
  margin-top:0px;
  font-weight: 700;
  font-size: 1.65em;
}
.card-title a {
  color: #000;
  text-decoration: none !important;
}
.card-read-more {
  border-top: 1px solid #D4D4D4;
}
.card-read-more a {
  text-decoration: none !important;
  padding:10px;
  font-weight:600;
  text-transform: uppercase
}